body {
	font-family: Arial;
	background-color: black;
	color: white;
}

.box {
/*	width: 350px;*/
	width: 30%;
	height: auto;

	text-align: center;
	border: 2px solid;
	border-color: white;
/*	border-radius: 25px;*/

/*	align-items: center;
	justify-content: center;

*/	/* Magin */
	padding: 20px;
	margin: 20px auto; /* Center using margin left and right auto */

}

ul li {
	text-align: left;
}
